/*:root {
  --modal-header-height: var(--height) * 0.1;
}*/

// ion-content {
//   --background: url("~/assets/background.png");
// }

app-login ion-content, app-sign-up ion-content {
  --background: rgb(97, 206, 112);
  --background: linear-gradient(180deg, rgba(97, 206, 112, 1) 0%, rgba(8, 170, 151, 1) 90%);
  color: white;
}

ion-backdrop {
  cursor: default;
}

ion-item-divider ion-label {
  font-weight: bold;
  color: black !important;
}

ion-list.clickable-list ion-item {
  --inner-padding-start: calc(16px + var(--ion-safe-area-left, 0px));
  --padding-start: 0;
}

ion-chip ion-label {
  overflow: visible !important;
}

.browser-app-platform ion-segment-button {
  --border-radius: 1rem 1rem 0 0;
  --border-width: 1px;
  //--color-checked: white;
  //--background-checked: var(--color-checked);
}

.mobile-app-platform ion-segment {
  margin: 0;
  width: 100%;
}

.modal-container {
  --background: white;
  --width: 50%;
  --height: 80%;
}

.modal-header .modal-close-button {
  cursor: pointer;
}

.modal-header .modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.modal-container ion-content {
  --background: none;
}

.modal-content ion-list ion-item:last-child {
  --border-style: none;
}

ion-card-content ion-item:last-child {
  --border-style: none;
}

.small-logo-icon {
  width: 3rem;
}

.fixed-divider {
  min-height: 1px;
  height: 1px;
}

.positive-currency-amount {
  color: green;
}

.negative-currency-amount {
  color: red;
}

ion-button {
  --border-radius: 0.5rem;
}

ion-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.display-block {
  display: block;
}

.currency {
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.white-color {
  color: white;
}

.black-color {
  color: black;
}

.no-padding {
  padding: 0;
}

.no-side-to-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.lifted-divider {
  margin-top: -2rem;
}

.bank-institution-logo {
  width: 15rem;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.large-margin {
  margin: 5rem;
}

.medium-vertical-margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.no-margin {
  margin: 0;
}

.overflow-visible {
  overflow: visible;
}

ion-auto-complete {
  width: 100%;
}

.float-right {
  float: right;
}

.visible-opacity {
  opacity: 1;
}

.grayed-out-text {
  color: gray;
}

.inner-spinner {
  position: relative;
  top: auto;
  left: auto;
}

ion-card, ion-item {
  overflow: visible;
}

ion-card-title {
  font-size: 2rem;
  color: rgb(115, 115, 115);
}

ion-card-subtitle {
  font-size: 1.5rem;
  color: rgb(115, 115, 115);
}

ion-item::part(native) {
  z-index: auto !important;
}

p-dropdown div:first-child {
  text-align: left;
  min-width: 15rem;
}

p-inputnumber span {
  width: 15rem;
}

p-calendar span {
  width: 15rem;
}

ion-card-header {
  font-size: 2rem;
}

.pi.clear-input-icon {
  cursor: pointer;
  font-size: 1.25rem;
  margin-right: 0.75rem;
}

.pi.loading-input-icon {
  cursor: default;
  font-size: 1.25rem;
  margin-right: 0.75rem;
}

.pi.accepted-input-icon {
  cursor: pointer;
  color: green !important;
  font-size: 1.25rem;
  margin-right: 0.75rem;
}

.incomplete-area {
  opacity: 0.35;
}

.large-text {
  font-size: 3rem;
}

.p-inputtext::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.invalid-state-input {
  border: 1px solid #e50000 !important;
}

.valid-state-input {
  color: green;
}

.invalid-state-input {
  color: #e50000;
}

.invalid-state-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e50000;
  opacity: 1; /* Firefox */
}

.invalid-state-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #e50000;
}

.invalid-state-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #e50000;
}
