<ion-header class="modal-header" translucent>
  <ion-toolbar>
    <div class="flex-align-center little-up-down-padding">
      <img class="plaid-institution-logo" [src]="'assets/' + plaidAccount.institutionId + '-logo.png'"/>
    </div>
    <ion-buttons slot="end">
      <ion-button class="close-button" (click)="closeModal()">
        <ion-icon size="large" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="flex-align-center little-up-down-padding">
    <span class="account-name-title" size="large">{{ plaidAccount.name }} ({{ getPreferredNameOfSubType(plaidAccount.subType) }})</span>
  </div>
  <ion-toolbar>
    <ion-segment (ionChange)="onTranscationScopeChange(null, $event)" [value]="transactionDisplayScope">
      <ion-segment-button value="Past7Days">
        <ion-label>Past 7 Days</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Past30Days">
        <ion-label>Past 30 Days</ion-label>
      </ion-segment-button>
      <ion-segment-button value="All">
        <ion-label>All</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-content" padding>
  <ion-list class="clickable-list" *ngIf="scopedTransactionsByDate.size > 0">
    <ion-item-group class="modal-main-list" *ngFor="let transactionByDate of scopedTransactionsByDate | keyvalue: keepOrder">
      <ion-item-divider>
        <ion-label>{{ transactionByDate.key }}</ion-label>
      </ion-item-divider>
      <ion-item class="ion-activatable ripple-parent" *ngFor="let transaction of transactionByDate.value">
        <ion-label>
          <h2 *ngIf="transaction.merchantName">{{ transaction.merchantName }}</h2>
          <h2 *ngIf="!transaction.merchantName">{{ transaction.name }}</h2>
          <h3>{{ transaction.date | date }}</h3>
          <p>
            <ion-chip class="category-chip" disabled="true" outline="true" *ngFor="let category of transaction.categories">
              <ion-label>{{ category }}</ion-label>
            </ion-chip>
          </p>
        </ion-label>
        <ion-badge [color]="transaction.amount >= 0 ? 'success' : 'danger'"><span *ngIf="transaction.amount >= 0">+</span>{{ transaction.amount | currency }}</ion-badge>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ng-container *ngIf="scopedTransactionsByDate.size === 0">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let number of [0,1,2,3,4]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>