.close-button {
    cursor: pointer;
}

.modal-main-list {
    padding-top: 0;
    padding-bottom: 0;
}

.category-chip {
    opacity: 1;
}

.bank-institution-logo {
    width: 10rem;
    margin-left: 64px;
}

.account-name-title {
    font-size: 1rem;
    font-weight: bold;
}

.little-up-down-padding {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}