<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shopping</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shopping</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <ion-input (input)="setSearchInput($event)" [clearInput]="true" (keyup.enter)="searchForProducts()" placeholder="Search..."></ion-input>
              </ion-col>
              <ion-col class="3">
                <ion-select [(ngModel)]="showSearches" multiple="true" cancelText="Cancel" okText="Select">
                  <ion-select-option value="amazon">Amazon</ion-select-option>
                  <ion-select-option value="ebay">eBay</ion-select-option>
                  <ion-select-option value="walmart">Walmart</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="1">
                <ng-container *ngIf="!loadingAmazonSearch && !loadingEbaySearch && !loadingWalmartSearch">
                  <ion-button (click)="searchForProducts()" class="search-button">
                    <span>Go</span>
                  </ion-button>
                </ng-container>
                <ng-container *ngIf="loadingAmazonSearch || loadingEbaySearch || loadingWalmartSearch">
                  <ion-button [disabled]="true" class="search-button">
                    <ion-spinner class="inner-spinner" name="bubbles"></ion-spinner>
                  </ion-button>
                </ng-container>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="showSearches.includes('amazon')">
          <ion-card>
            <ion-card-header class="store-card-header">
              <ion-card-title class="flex-align-center">
                <img class="products-title-icon-image" src="assets/amazon-icon.png" />
              </ion-card-title>
            </ion-card-header>
            <ion-item-divider class="product-search-divider"></ion-item-divider>
            <ion-card-content class="no-padding" *ngIf="!loadingAmazonSearch && amazonSearchResults.length > 0">
              <ion-card *ngFor="let result of amazonSearchResults">
                <ion-card-header>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <img class="product-image" [src]="result.imageSrc" />
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title>
                          {{ result.title }}
                        </ion-card-title>
                        <ion-card-subtitle>
                          <ion-badge color="success">{{ result.price | currency }}</ion-badge>
                        </ion-card-subtitle>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
                <ion-card-content class="flex-align-center">
                  <ion-button class="go-to-product-button" target="_blank" [href]="result.link">
                    <span>Go To Page</span>
                    <img class="product-icon-image" src="assets/amazon-icon.png" />
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-card-content>
            <ion-card-content *ngIf="loadingAmazonSearch">
              <div class="flex-align-center">
                <ion-spinner class="inner-spinner" name="bubbles"></ion-spinner>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="showSearches.includes('ebay')">
          <ion-card>
            <ion-card-header class="store-card-header">
              <ion-card-title class="flex-align-center">
                <img class="products-title-icon-image" src="assets/ebay-icon.png" />
              </ion-card-title>
            </ion-card-header>
            <ion-item-divider class="product-search-divider"></ion-item-divider>
            <ion-card-content class="no-padding" *ngIf="!loadingEbaySearch && ebaySearchResults.length > 0">
              <ion-card *ngFor="let result of ebaySearchResults">
                <ion-card-header>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <img class="product-image" [src]="result.imageSrc" />
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title>
                          {{ result.title }}
                        </ion-card-title>
                        <ion-card-subtitle>
                          <ion-badge color="success">{{ result.price | currency }}</ion-badge>
                        </ion-card-subtitle>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
                <ion-card-content class="flex-align-center">
                  <ion-button class="go-to-product-button" target="_blank" [href]="result.link">
                    <span>Go To Page</span>
                    <img class="product-icon-image" src="assets/ebay-icon.png" />
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-card-content>
            <ion-card-content *ngIf="loadingEbaySearch">
              <div class="flex-align-center">
                <ion-spinner class="inner-spinner" name="bubbles"></ion-spinner>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="showSearches.includes('walmart')">
          <ion-card>
            <ion-card-header class="store-card-header">
              <ion-card-title class="flex-align-center">
                <img class="products-title-icon-image walmart-icon-image" src="assets/walmart-icon.png" />
              </ion-card-title>
            </ion-card-header>
            <ion-item-divider class="product-search-divider"></ion-item-divider>
            <ion-card-content class="no-padding" *ngIf="!loadingWalmartSearch && walmartSearchResults.length > 0">
              <ion-card *ngFor="let result of walmartSearchResults">
                <ion-card-header>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <img class="product-image" [src]="result.imageSrc" />
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title>
                          {{ result.title }}
                        </ion-card-title>
                        <ion-card-subtitle>
                          <ion-badge color="success">{{ result.price | currency }}</ion-badge>
                        </ion-card-subtitle>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
                <ion-card-content class="flex-align-center">
                  <ion-button class="go-to-product-button" target="_blank" [href]="result.link">
                    <span>Go To Page</span>
                    <img class="product-icon-image walmart-icon-image" src="assets/walmart-icon.png" />
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-card-content>
            <ion-card-content *ngIf="loadingWalmartSearch">
              <div class="flex-align-center">
                <ion-spinner class="inner-spinner" name="bubbles"></ion-spinner>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>