<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content id="container">
    <ion-card>
      <ion-card-header>
        <ion-toolbar class="chart-toolbar">
          <ion-segment (ionChange)="onScopeChange(null, $event)" [value]="settingsScope">
            <ion-segment-button value="Profile">
              <ion-label>Profile</ion-label>
            </ion-segment-button>
            <ion-segment-button value="MoneyManagement">
              <ion-label>Money Management</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Notifications">
              <ion-label>Notifications</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Security">
              <ion-label>Security</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content *ngIf="settingsScope == 'Profile'">
        <app-profile-settings></app-profile-settings>
      </ion-card-content>
      <ion-card-content *ngIf="settingsScope == 'MoneyManagement'">
        <app-money-management-settings></app-money-management-settings>
      </ion-card-content>
      <ion-card-content *ngIf="settingsScope == 'Notifications'">
        <app-notification-settings></app-notification-settings>
      </ion-card-content>
      <ion-card-content *ngIf="settingsScope == 'Security'">
        <app-security-settings></app-security-settings>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>