.content-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.tile-card {
    cursor: pointer;
}

.wizard-grid ion-row {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}