<ion-app>
  <ng-container *ngIf="globals.appLoaded">
    <ion-split-pane contentId="main-content" *ngIf="router.url !== '/login' && this.globals.getCurrentUser() != null">
      <ion-menu contentId="main-content" class="menu-content" type="overlay">
        <ion-content>
          <ion-list id="main-list" class="menu-list">
            <ion-grid>
              <ion-row>
                <ion-col class="flex-align-center">
                  <img class="logo-image" src="assets/leaf-icon-focused.png">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2">
                  <ion-avatar class="profile-avatar-menu">
                    <img *ngIf="globals.getCurrentUser().profileImage == null" src="assets/person-icon.png" />
                    <img *ngIf="globals.getCurrentUser().profileImage != null" [src]="globals.getCurrentUser().profileImage">
                  </ion-avatar>
                </ion-col>
                <ion-col size="10">
                  <ion-list-header>{{ globals.getCurrentUser().firstName }} {{ globals.getCurrentUser().lastName }}</ion-list-header>
                  <ion-note>
                    {{ globals.getCurrentUser().email }} 
                  </ion-note>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider class="fixed-divider"></ion-item-divider>
            <ng-container *ngFor="let p of appPages; let i = index">
              <ion-menu-toggle *ngIf="p.section === 0" auto-hide="false">
                <ion-item [ngClass]="p.comingSoon ? 'coming-soon' : ''" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                  <ion-badge *ngIf="p.comingSoon" color="medium">Coming Soon</ion-badge>
                </ion-item>
              </ion-menu-toggle>
            </ng-container>
          </ion-list>
  
          <ion-list id="secondary-list" class="menu-list">  
            <ng-container *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" *ngIf="p.section === 1">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ng-container>
            <ion-item class="log-out-button" routerDirection="root" (click)="onLogout()" [routerLink]="['/login']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
              <ion-label>Log Out</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
    <ion-content *ngIf="router.url === '/login'">
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-content>
  </ng-container>
  <div id="loadingSpinner" *ngIf="!globals.appLoaded || globals.processing"></div>
</ion-app>
