<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content id="container">
    <app-bank-institutions-view *ngIf="plaidAccounts != null" [accounts]="plaidAccounts"></app-bank-institutions-view>
    <app-bank-accounts-view *ngIf="plaidAccounts != null" [header]="'Recent Transactions'" [accounts]="plaidAccounts"></app-bank-accounts-view>
  </ion-content>
</ion-content>