<form [formGroup]="formGroup">
  <div class="container">
    <div>
      <label [for]="field.id" class="field-label">{{ field.name }}</label>
    </div>
    <div class="text-input-area">
      <input type="text" [ngClass]="{'invalid-state-input': formGroup.get(field.id).invalid && 
      (formGroup.get(field.id).dirty || formGroup.get(field.id).touched)}" 
      class="text-input" 
      [id]="field.id"
      type="text" 
      pInputText 
      [formControlName]="field.id"> 
    </div>
  </div>
</form>