.chart-area {
    width: 80%;
    margin: 3rem;
}

.chart-area ion-title {
    text-align: center;
}

.previous-chart-button {
    cursor: pointer;
}

.previous-chart-button ion-icon {
    vertical-align: text-bottom;
}