<ion-content [fullscreen]="true">
  <div id="container" class="flex-align-center">
    <ion-grid class="login-input-area">
      <ion-row>
        <ion-col>
          <img class="small-logo-icon" src="assets/leaf-icon-small.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input [value]="username" (keyup.enter)="onLogin()" (input)="onUsernameChange($event)" class="login-input" type="text" placeholder="Username"></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input [value]="password" (keyup.enter)="onLogin()" (input)="onPasswordChange($event)" class="login-input" type="password" placeholder="Password"></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button (click)="onLogin()" class="login-action" color="primary">Login</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button (click)="onSignUp()" class="login-action" color="secondary">Sign Up</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>