<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content id="container">
    <ion-card class="incomplete-area">
      <ion-card-header class="flex-align-center">
        Progress
      </ion-card-header>
      <ion-card-content class="flex-align-center">
        <ion-title>
          Savings Goal
        </ion-title>
        <kendo-arcgauge [value]="guageValue" [colors]="guageColors">
          <ng-template kendoArcGaugeCenterTemplate let-value="value">
            <span class="guage-value">{{ value }}%</span>
          </ng-template>
        </kendo-arcgauge>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>